# Produisez une étude de marché

# Scénario
Votre entreprise **d'agroalimentaire** souhaite se développer à l'international. Elle est spécialisée dans...
 le poulet !

L'international, oui, mais pour l'instant, le champ des possibles est bien large : aucun pays particulier ni aucun continent n'est pour le moment choisi. Tous les pays sont envisageables !

Votre objectif sera d'aider **à cibler plus particulièrement certains pays**, dans le but d'approfondir ensuite l'étude de marché. Plus particulièrement, l'idéal serait de produire des "groupes" de pays, plus ou moins gros, dont on connaît les caractéristiques.

Dans un premier temps, la stratégie est plutôt d'exporter les produits plutôt que de produire sur place, c'est-à-dire dans le(s) nouveau(x) pays ciblé(s).


Pour identifier les pays propices à une insertion dans le marché du poulet,
 Il vous a été demandé de cibler les pays. 
 Etudier les régimes alimentaires de chaque pays, notamment en termes de protéines d'origine animale et en termes de calories.


Construisez votre échantillon contenant l'ensemble des pays disponibles, chacun caractérisé par ces variables :

différence de population entre une année antérieure (au choix) et l'année courante, exprimée en pourcentage ;
proportion de protéines d'origine animale par rapport à la quantité totale de protéines dans la disponibilité alimentaire du pays ;
disponibilité alimentaire en protéines par habitant ;
disponibilité alimentaire en calories par habitant.

Construisez un dendrogramme contenant l'ensemble des pays étudiés, puis coupez-le afin d'obtenir 5 groupes.

Caractérisez chacun de ces groupes selon les variables cités précédemment, et facultativement selon d'autres variables que vous jugerez pertinentes (ex : le PIB par habitant). Vous pouvez le faire en calculant la position des centroïdes de chacun des groupes, puis en les commentant et en les critiquant au vu de vos objectifs.

Donnez une courte liste de pays à cibler, en présentant leurs caractéristiques. Un découpage plus précis qu'en 5 groupes peut si besoin être effectué pour cibler un nombre raisonnable de pays. 

Visualisez vos  partitions dans le premier plan factoriel obtenu par ACP.

Dans votre partition, vous avez obtenu des groupes distincts. Vérifiez donc qu'ils diffèrent réellement. Pour cela, réalisez les tests statistiques suivants :

un test d'adéquation : parmi les 4 variables, ou parmi d'autres variables que vous trouverez pertinentes, trouvez une variable dont la loi est normale ;
un test de comparaison de deux populations (dans le cas gaussien) : choisissez 2 clusters parmi ceux que vous aurez déterminé. Sur ces 2 clusters, testez la variable gaussienne grâce à un test de comparaison.

In [97]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [98]:
#Versions utilisées
print("Jupyter Notebook : " + str(pd.__version__))
print("Pandas : " + str(pd.__version__))
print("Numpy : " + str(np.__version__))
print("Seaborn : " + str(sns.__version__))

Jupyter Notebook : 1.2.4
Pandas : 1.2.4
Numpy : 1.20.1
Seaborn : 0.11.1

# 1. Import et traitement de la population par pays

In [99]:
df_population = pd.read_csv('datas/fao-populations_2019- 2013.csv' , header=0, sep=",", decimal=".")
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,32270,*,Chiffre non officiel
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,511,Population totale,2501,Population,2019,2019,1000 personnes,38042,*,Chiffre non officiel
2,FBS,Bilans Alimentaires (2010-),202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,53687,*,Chiffre non officiel
3,FBS,Bilans Alimentaires (2010-),202,Afrique du Sud,511,Population totale,2501,Population,2019,2019,1000 personnes,58558,*,Chiffre non officiel
4,FBS,Bilans Alimentaires (2010-),3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,2904,*,Chiffre non officiel

In [100]:
df_population.describe(include = 'all')

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
count,357,357,357.000000,357,357.0,357,357.0,357,357.000000,357.000000,357,3.570000e+02,357,357
unique,1,1,NaN,179,NaN,1,NaN,1,NaN,NaN,1,NaN,2,2
top,FBS,Bilans Alimentaires (2010-),NaN,Argentine,NaN,Population totale,NaN,Population,NaN,NaN,1000 personnes,NaN,*,Chiffre non officiel
freq,357,357,NaN,2,NaN,357,NaN,357,NaN,NaN,357,NaN,355,355
mean,NaN,NaN,128.389356,NaN,511.0,NaN,2501.0,NaN,2016.008403,2016.008403,NaN,4.950347e+04,NaN,NaN
std,NaN,NaN,74.624470,NaN,0.0,NaN,0.0,NaN,3.004199,3.004199,NaN,1.821550e+05,NaN,NaN
min,NaN,NaN,1.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,NaN,5.000000e+01,NaN,NaN
25%,NaN,NaN,67.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,NaN,2.859000e+03,NaN,NaN
50%,NaN,NaN,123.000000,NaN,511.0,NaN,2501.0,NaN,2019.000000,2019.000000,NaN,9.685000e+03,NaN,NaN
75%,NaN,NaN,191.000000,NaN,511.0,NaN,2501.0,NaN,2019.000000,2019.000000,NaN,2.978100e+04,NaN,NaN
max,NaN,NaN,351.000000,NaN,511.0,NaN,2501.0,NaN,2019.000000,2019.000000,NaN,1.465634e+06,NaN,NaN

In [101]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            357 non-null    object
 1   Domaine                 357 non-null    object
 2   Code zone               357 non-null    int64
 3   Zone                    357 non-null    object
 4   Code Élément            357 non-null    int64
 5   Élément                 357 non-null    object
 6   Code Produit            357 non-null    int64
 7   Produit                 357 non-null    object
 8   Code année              357 non-null    int64
 9   Année                   357 non-null    int64
 10  Unité                   357 non-null    object
 11  Valeur                  357 non-null    int64
 12  Symbole                 357 non-null    object
 13  Description du Symbole  357 non-null    object
dtypes: int64(6), object(8)
memory usage: 39.2+ KB

In [102]:
df_population = df_population[['Code zone', 'Zone', 'Produit', 'Année', 'Valeur']]
df_population['Valeur'] = df_population['Valeur']*1000
df_population.head()

   Code zone            Zone     Produit  Année    Valeur
0          2     Afghanistan  Population   2013  32270000
1          2     Afghanistan  Population   2019  38042000
2        202  Afrique du Sud  Population   2013  53687000
3        202  Afrique du Sud  Population   2019  58558000
4          3         Albanie  Population   2013   2904000

In [103]:
df_population = df_population.pivot_table(index=['Code zone', 'Zone', 'Produit'], columns='Année', values = 'Valeur', aggfunc = sum).reset_index()

In [104]:
# différence de population entre 2013 et 2019, exprimée en pourcentage
df_population['Evolution population (%)'] = round(((df_population[2019]-df_population[2013])/df_population[2013])*100,3)

In [105]:
df_population.head()

Année,Code zone,Zone,Produit,2013,2019,Evolution population (%)
0,1,Arménie,Population,2898000.0,2958000.0,2.070
1,2,Afghanistan,Population,32270000.0,38042000.0,17.887
2,3,Albanie,Population,2904000.0,2881000.0,-0.792
3,4,Algérie,Population,38140000.0,43053000.0,12.881
4,7,Angola,Population,26016000.0,31825000.0,22.329

In [106]:
population2013 = df_population[2013].sum()
population2019 = df_population[2019].sum()
evolution_globale = round(((population2017 - population2013) / population2013)*100,3)
print('Pour indication, la population totale en 2013 était de', population2013, 'et de', population2019, 'en 2019.\nL\'évolution 2015/2017 est de', evolution_globale, '%.')

Pour indication, la population totale en 2013 était de 8564484000.0 et de 9108256000.0 en 2019.
L'évolution 2015/2017 est de 6.349 %.

In [107]:
df_dispo_alimentaire = pd.read_csv('datas/disponibilite_alimentaire_2019.csv', header=0, sep=",", decimal=".")
df_dispo_alimentaire.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2901,Total General,2019,2019,Kcal/personne/jour,2273.00,Fc,Donnée calculée
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2901,Total General,2019,2019,g/personne/jour,57.31,Fc,Donnée calculée
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,684,Disponibilité de matière grasse en quantité (g...,2901,Total General,2019,2019,g/personne/jour,39.78,Fc,Donnée calculée
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2941,Produits Animaux,2019,2019,Kcal/personne/jour,187.00,Fc,Donnée calculée
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2941,Produits Animaux,2019,2019,g/personne/jour,10.34,Fc,Donnée calculée

# 2. Données sur les bilans alimentaires mondiaux (2019)

In [108]:
df_dispo_alimentaire = pd.read_csv('datas/disponibilite_alimentaire_2019.csv', header=0, sep=",", decimal=".")
df_dispo_alimentaire.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2901,Total General,2019,2019,Kcal/personne/jour,2273.00,Fc,Donnée calculée
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2901,Total General,2019,2019,g/personne/jour,57.31,Fc,Donnée calculée
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,684,Disponibilité de matière grasse en quantité (g...,2901,Total General,2019,2019,g/personne/jour,39.78,Fc,Donnée calculée
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2941,Produits Animaux,2019,2019,Kcal/personne/jour,187.00,Fc,Donnée calculée
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2941,Produits Animaux,2019,2019,g/personne/jour,10.34,Fc,Donnée calculée

In [109]:
df_dispo_alimentaire = df_dispo_alimentaire.pivot_table(index=['Code zone', 'Zone', 'Année'],
                                columns=['Élément', 'Produit'],
                                values = 'Valeur',
                                aggfunc=sum).reset_index()
df_dispo_alimentaire.head()

Élément Code zone         Zone Année  \
Produit
0               1      Arménie  2019
1               2  Afghanistan  2019
2               3      Albanie  2019
3               4      Algérie  2019
4               7       Angola  2019

Élément Disponibilité alimentaire (Kcal/personne/jour)                \
Produit                               Produits Animaux Total General
0                                                975.0        3022.0
1                                                187.0        2273.0
2                                               1021.0        3338.0
3                                                379.0        3493.0
4                                                211.0        2445.0

Élément Disponibilité de matière grasse en quantité (g/personne/jour)  \
Produit                                              Produits Animaux
0                                                    74.06
1                                                    12.67
2                                                    70.01
3                                                    22.14
4                                                    15.27

Élément                \
Produit Total General
0              115.83
1               39.78
2              115.99
3               98.14
4               59.42

Élément Disponibilité de protéines en quantité (g/personne/jour)
Produit                                         Produits Animaux Total General
0                                                    52.86               94.29
1                                                    10.34               57.31
2                                                    62.47              116.02
3                                                    24.09               90.84
4                                                    15.54               52.09

In [110]:
df_dispo_alimentaire_pop = pd.merge(df_population, df_dispo_alimentaire, on="Code zone")
df_dispo_alimentaire_pop

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,Code zone,Zone,Produit,2013,2019,Evolution population (%),"(Zone, )","(Année, )","(Disponibilité alimentaire (Kcal/personne/jour), Produits Animaux)","(Disponibilité alimentaire (Kcal/personne/jour), Total General)","(Disponibilité de matière grasse en quantité (g/personne/jour), Produits Animaux)","(Disponibilité de matière grasse en quantité (g/personne/jour), Total General)","(Disponibilité de protéines en quantité (g/personne/jour), Produits Animaux)","(Disponibilité de protéines en quantité (g/personne/jour), Total General)"
0,1,Arménie,Population,2.898000e+06,2.958000e+06,2.070,Arménie,2019,975.0,3022.0,74.06,115.83,52.86,94.29
1,2,Afghanistan,Population,3.227000e+07,3.804200e+07,17.887,Afghanistan,2019,187.0,2273.0,12.67,39.78,10.34,57.31
2,3,Albanie,Population,2.904000e+06,2.881000e+06,-0.792,Albanie,2019,1021.0,3338.0,70.01,115.99,62.47,116.02
3,4,Algérie,Population,3.814000e+07,4.305300e+07,12.881,Algérie,2019,379.0,3493.0,22.14,98.14,24.09,90.84
4,7,Angola,Population,2.601600e+07,3.182500e+07,22.329,Angola,2019,211.0,2445.0,15.27,59.42,15.54,52.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,256,Luxembourg,Population,5.300000e+05,6.160000e+05,16.226,Luxembourg,2019,1184.0,3504.0,92.36,144.14,66.55,108.95
175,272,Serbie,Population,9.511000e+06,8.772000e+06,-7.770,Serbie,2019,817.0,2865.0,61.78,89.85,43.79,86.58
176,273,Monténégro,Population,6.260000e+05,6.280000e+05,0.319,Monténégro,2019,1227.0,3520.0,93.32,143.02,67.47,111.99
177,276,Soudan,Population,3.707300e+07,4.281300e+07,15.483,Soudan,2019,353.0,2581.0,24.88,68.35,19.92,75.87
178,351,Chine,Population,1.422971e+09,1.465634e+09,2.998,Chine,2019,754.0,3340.0,60.91,105.77,41.62,105.11

In [111]:
# proportion de protéines d'origine animale par rapport à la quantité totale de protéines dans la disponibilité alimentaire du pays
df_dispo_alimentaire_pop["Prot. Animales/Prot. Totales dispo (%)"] = round((df_dispo_alimentaire_pop[('Disponibilité de protéines en quantité (g/personne/jour)', 'Produits Animaux')]
                                                                         /df_dispo_alimentaire_pop[('Disponibilité de protéines en quantité (g/personne/jour)', 'Total General')])*100,3)

In [112]:
df_dispo_alimentaire_pop = df_dispo_alimentaire_pop[["Code zone","Zone", ('Année', ''), 2019, "Evolution population (%)",
                                             ('Disponibilité alimentaire (Kcal/personne/jour)', 'Total General'),
                                             ('Disponibilité de protéines en quantité (g/personne/jour)', 'Total General'),
                                             'Prot. Animales/Prot. Totales dispo (%)']]

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [113]:
df_dispo_alimentaire_pop.rename(columns={('Année', ''):'Année', 2019:'Population', 
                              ('Disponibilité alimentaire (Kcal/personne/jour)', 'Total General'):'Dispo. Alim. (Kcal/personne)',
                              ('Disponibilité de protéines en quantité (g/personne/jour)', 'Total General'):'Dispo. Prot. (g/personne)'},
                     inplace=True)

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [114]:
df_dispo_alimentaire_pop

,Code zone,Zone,Année,Population,Evolution population (%),Dispo. Alim. (Kcal/personne),Dispo. Prot. (g/personne),Prot. Animales/Prot. Totales dispo (%)
0,1,Arménie,2019,2.958000e+06,2.070,3022.0,94.29,56.061
1,2,Afghanistan,2019,3.804200e+07,17.887,2273.0,57.31,18.042
2,3,Albanie,2019,2.881000e+06,-0.792,3338.0,116.02,53.844
3,4,Algérie,2019,4.305300e+07,12.881,3493.0,90.84,26.519
4,7,Angola,2019,3.182500e+07,22.329,2445.0,52.09,29.833
...,...,...,...,...,...,...,...,...
174,256,Luxembourg,2019,6.160000e+05,16.226,3504.0,108.95,61.083
175,272,Serbie,2019,8.772000e+06,-7.770,2865.0,86.58,50.578
176,273,Monténégro,2019,6.280000e+05,0.319,3520.0,111.99,60.246
177,276,Soudan,2019,4.281300e+07,15.483,2581.0,75.87,26.255
178,351,Chine,2019,1.465634e+09,2.998,3340.0,105.11,39.597